<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">

	<insert id="insertMember">
		insert into kdemymember
		(usernum, userid,
		passwd, username,
		birthday, useremail,
		phone, postcode,
		address, address2)
		values
		(
		(select nvl(max(usernum)+1,1) from kmedymember),#{userid},
		#{passwd},#{username},
		#{birthday},#{useremail},
		#{phone},#{postcode},
		#{address},#{address2}
		)
	</insert>


	<select id="passwdCheck"
		resultType="com.TeamProject.Kdemy.model.member.dto.MemberDTO">
		select * from kdemymember
		where userid=#{userid}
	</select>

	<select id="kdemyLogin"
		resultType="com.TeamProject.Kdemy.model.member.dto.MemberDTO">
		select * from kdemymember
		where userid=#{userid}
	</select>

	<select id="idCheck" resultType="Int">
		select COUNT(*) from kdemymember
		WHERE userid=#{userid}
	</select>

</mapper>














