<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="alarm">
  <insert id="insertAlarm">
     insert into alarm
       (alarm_id,sender,target,alarmmsg)
       values (
       (select nvl(max(alarm_id)+1,1) from alarm)
       ,#{sender}
       ,#{target}
       ,#{alarmmsg})
 </insert>
 <update id="alarmCheck">
  update alarm set alarmcheck='y' where alarm_id=#{alarm_id}
 
 </update>
 
 <select id="alarmList" resultType="com.TeamProject.Kdemy.model.alarm.dto.AlarmDTO">
  select * from (
			select rownum as rn, A.* from 
			(
				select * from alarm
				where target=#{userid}
				order by desc
			) A
		) where rn between #{start} and #{end}
 </select>
 
 <selcet id="countalarmList" resultType="int">
   select count(*) from alarm where target=#{userid}
 </selcet>


</mapper>