<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="teacher">
	<insert id="teacherInsert">
		insert into teacher
			(
			teacher_num,
			userid,username,nickname,teacher_thumbnail,
			finalEducation,schoolName,department,
			spec1,spec1_getDate,spec1_img,
			spec2,spec2_getDate,spec2_img,
			spec3,spec3_getDate,spec3_img,
			spec4,spec4_getDate,spec4_img,
			spec5,spec5_getDate,spec5_img,
			career
			)
			values(
			(select nvl(max(teacher_num)+1,1) from teacher),
			#{userid},#{username},#{nickname},
			#{teacher_thumbnail},#{finalEducation},
			#{schoolName},#{department},
			#{spec1},#{spec1_getDate},#{spec1_img},
			#{spec2},#{spec2_getDate},#{spec2_img},
			#{spec3},#{spec3_getDate},#{spec3_img},
			#{spec4},#{spec4_getDate},#{spec4_img},
			#{spec5},#{spec5_getDate},#{spec5_img},
			#{career}
			)
	</insert>
	
	<update id="memberUpdate">
		update kdemymember set teacher='w' where userid=#{userid}
	</update>
	
	<select id="nicknameC"
	resultType="int">
		select count(*) from teacher
		where nickname=#{nickname}
	</select>
	
	<select id="requestMemberView" resultType="com.TeamProject.Kdemy.model.teacher.dto.TeacherDTO">
		select * from teacher
		where userid=#{userid}
	</select>
</mapper>