@charset "UTF-8";

ul.upper_shift {
	padding: 10px 16px;
	list-style: none;
}

ul.upper_shift li {
	display: inline;
	font-size: 18px;
}

ul.upper_shift li+li:before {
	padding: 8px;
	color: black;
	content: ">\00a0";
}

ul.upper_shift li a {
	color: black;
	text-decoration: none;
}

ul.upper_shift li a:hover {
	font-size: 1.1em;
	color: #01447e;
}

 .search_option{
 	width: 150px;
 	height: 40px;
 	font-size: 14px;
 	border-radius: 4px;
 	border: 1px solid #e4e5ed;
 	padding-left: 14px;
	transition: 0.2s;
	text-align: center;
 }
.board_table{
	width: 80%;
	margin: auto;
	border: 1px solid;
	
}
.search-input{
	padding-right: 75px;
	outline: none;
	width: 250px;
	height: 40px;
	border-radius: 4px;
	font-size: 14px;
	text-align: left;
	padding-left: 14px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.2s;
	border: 1px solid #e4e5ed;
	background-color: #fff;
}

.write_btn_align{
	right: 0;
	width: 5%;
	border: 1px solid;
	display: flex;
	float: right;
}
.write_btn_align a{
	margin-right: 0;
