@charset "UTF-8";

.slick-initialized .slick-slide
{
  display: none; 
}

.slider {
   width: 100%;
   height: 300px;
   margin: auto;
}
.slick-slide {
      margin: 0px 20px;
    }

.slick-slide img {
      width: 100%;
      transform: scale(0.9);
    }

.slick-center img {
  transform: scale(1.1);
}

