@charset "UTF-8";

.asideDiv {
	position: fixed;
	width: 180px;
}
/* .lectureImg {
	width: 350px;
	height: 197px;
} */

.myLectureImg {
	width: 150px;
	height: 84px;
}
#asideDiv {
	position: fixed;
	width: 400px;
	margin-left: 800px;
}

#lectureText img{
	max-width: 700px;
}
